.hbspt-form {
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  @apply p-5 accent-primary-400 border border-neutral-50/10;
}

fieldset {
  max-width: 100% !important;
  margin-bottom: 1em !important;
}

.hs-input:not([type="checkbox"]) {
  width: 100% !important;
  @apply h-10 bg-transparent border-b px-2;
}

option {
  color: initial;
}

label:not(.hs-form-checkbox-display, .hs-form-booleancheckbox-display) {
  @apply text-sm opacity-50;
}

.hs-error-msg {
  @apply bg-primary-400;
  opacity: 1 !important;
}

ul {
  @apply flex flex-wrap items-center gap-x-4 gap-y-2;
}

.hs-form-checkbox-display {
  @apply cursor-pointer;
}

a {
  @apply underline;
}

.actions {
  @apply text-center;
}

.hs-button {
  @apply uppercase cursor-pointer font-bold tracking-widest hover:tracking-normal;
}
