---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Madrid4Tech"
  description="Evento Madrid4Tech organizado por {i} Technology Institute para unir empresas y profesionales de la tecnología."
  keywords="madridfortech, madrid4ech, evento, tecnología"
  canonical="https://www.madridfortech.com/"
  robots="index, follow"
  img="https://www.madridfortech.com/share.webp"
>
  <section class="text-neutral-50 py-20 page">
    <h1 class="text-7xl md:text-8xl lg:text-9xl mb-10">Bases legales</h1>
    <p>Capture the flag.</p>
    <p>
      Nuestra Política de Privacidad afecta tanto a la información personal que
      nos proporcionas, así como a todos los datos que nos facilites al acceder
      a cualquiera de los servicios disponibles en la web.
    </p>
    <h2 class="text-xl font-bold mb-4 border-b">
      Protección de datos personales
    </h2>
  </section>

  <a
    href="http://madridfortech.com/"
    class="text-neutral-50 fixed top-4 left-1/2 -translate-x-1/2"
  >
    <Badge text="Volver al inicio" />
  </a>
</Layout>

<style>
  section p,
  section ul {
    @apply mb-4;
  }

  ul {
    list-style: initial;
    @apply px-4;
  }
</style>
