---
import Legal from "../layouts/Legal.astro";
---

<Legal
  title="Bases legales Capture The Flag | Madrid4Tech"
  description="Evento Madrid4Tech organizado por {data.legal.name} Technology Institute para unir empresas y profesionales de la tecnología."
  keywords="madridfortech, madrid4ech, evento, tecnología"
  canonical="https://www.madridfortech.com/"
  robots="noindex, nofollow"
  img="https://www.madridfortech.com/share.webp"
>
  <h1 class="text-7xl md:text-8xl lg:text-9xl mb-10">Bases legales</h1>
  <h2
    class="text-xl font-bold mb-4 border-b border-primary-400 text-primary-400"
  >
    Capture the flag
  </h2>
  <p>
    En cuanto a la elección del ganador de la categoría “principiante” se hará
    teniendo en cuenta lo siguiente:
  </p>
  <p>
    Es imprescindible completar la colección completa de Omnipotent Productions.
    Luego, el procedimiento de selección podría ser el siguiente:
  </p>
  <ul>
    <li>
      Criterio 1. Evaluación de Contenido Completado
      <ul>
        <li>
          Opción 1. Si solo una persona tiene el porcentaje de finalización más
          alto, esa persona se declara ganadora de la competición.
        </li>
        <li>
          Opción 2. Si hay un empate, es decir, más de una persona tiene el
          mismo porcentaje de finalización más alto, todas estas personas pasan
          al Criterio 2.
        </li>
      </ul>
    </li>
    <li>
      Criterio 2. Evaluación de Tiempo de Finalización: De las personas
      seleccionadas en el Criterio 1, las 10 (o menos, si hay menos de 10) que
      hayan completado los ejercicios en el menor tiempo posible avanzarán al
      Criterio 3.
    </li>
    <li>
      Criterio 3. Evaluación de Precisión y Tiempo: El ganador será la persona
      proveniente del Criterio 2 que tenga la mayor precisión. En caso de empate
      en precisión, el ganador será el que haya completado los ejercicios en el
      menor tiempo. Si aún hay un empate en el tiempo de finalización, se
      declararán múltiples ganadores.
    </li>
  </ul>
  <p>
    El ganador será el que haya completado el ejercicio en menor tiempo y con
    mayor precisión.
  </p>
  <p>
    En cuanto a los criterios para los ganadores, se explicará durante el
    kick-off las reglas para que todos los participantes las tengan claras.
  </p>
</Legal>
