---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Madrid4Tech"
  description="Evento Madrid4Tech organizado por IMMUNE Technology Institute para unir empresas y profesionales de la tecnología."
  keywords="madridfortech, madrid4ech, evento, tecnología"
  canonical="https://www.madridfortech.com/"
  robots="index, follow"
  img="https://www.madridfortech.com/share.webp"
>
  <h1>Hola</h1>
</Layout>
