---
import Section from "./Section.astro";
---

<Section>
  <h2>Agenda</h2>
  <div role="region" tabindex="0" class="overflow-auto w-full">
    <table
      class="border border-neutral-400 h-full w-full table-auto border-spacing-px text-left border-collapse"
    >
      <caption class="text-left mt-2 text-neutral-400">* La agenda puede sufrir cambios.</caption
      >
      <thead>
        <tr>
          <th>HORARIO</th>
          <th>CONTENIDO</th>
          <th>PONENTES</th>
          <th>ESPACIO IMMUNE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>9:45 - 10:00h.</td>
          <td colspan="2">Bienvenida</td>
          <td>Ágora</td>
        </tr>
        <tr>
          <td>10:00 - 10:30h.</td>
          <td colspan="2">Swiss Re</td>
          <td>Ágora</td>
        </tr>
        <tr>
          <td>10:30 - 11:15h.</td>
          <td colspan="2">Grupo Santander</td>
          <td>Ágora</td>
        </tr>
        <tr>
          <td>10:30 - 11:15h.</td>
          <td colspan="2">BROS</td>
          <td>Aula 1</td>
        </tr>
        <tr>
          <td>11:15 - 11:30h.</td>
          <td colspan="3">DESCANSO</td>
        </tr>
        <tr>
          <td>11:30 - 12:15h.</td>
          <td
            >BBVA Technology: Presentación de dos nuevos prototipos para el
            Marketing Hiperpersonalizado e Interfaces Humanas</td
          >
          <td>Diego Anael Fava Ramos y Elena Bueno Salmeron</td>
          <td>Ágora</td>
        </tr>
        <tr>
          <td>11:30 - 12:15h.</td>
          <td>Grupo CelonIs: Transformando datos en valor con Process Mining</td
          >
          <td>Julio Gómez</td>
          <td>Ágora</td>
        </tr>
        <tr>
          <td>12:15 - 13:00h.</td>
          <td
            >Mi experiencia personal en CIberseguridad, 10 razones para
            enamorarte
          </td>
          <td>Alejandro Cornetti</td>
          <td>Ágora</td>
        </tr>
        <tr>
          <td>13:00 - 13:45h.</td>
          <td>Mesa redonda IA</td>
          <td
            >Javier G. Recuenco , Agustín Cuenca , Gema Parreño y Carlos
            Hernández Karliky</td
          >
          <td>Ágora</td>
        </tr>
        <tr>
          <td>14:00 - 15:00h.</td>
          <td colspan="3">ALMUERZO</td>
        </tr>
        <tr>
          <td>16:00 - 17:00h.</td>
          <td>CTF Santander</td>
          <td>Jauma Baltasar y Virginia Santos</td>
          <td>Ágora</td>
        </tr>
        <tr>
          <td>18:30 - 19:30h.</td>
          <td>Evento UX</td>
          <td>Raúl Marín y Lula de León</td>
          <td>Ágora</td>
        </tr>
      </tbody>
    </table>
  </div>
</Section>

<style>
  caption {
    caption-side: bottom;
  }

  th {
    @apply border p-2 border-solid border-neutral-400;
  }

  td {
    @apply border p-2 border-solid border-neutral-400;
  }

  tr:nth-child(odd) td {
    @apply bg-neutral-100;
  }
</style>
