---
interface Props {
  number: number;
  type: string;
  age: string;
}

const { number, type, age } = Astro.props;
---

<div class="glass text-neutral-50 border border-neutral-400 p-4">
  <h3 class="text-5xl">{number}%</h3>
  <p>
    Talento {type}
    <br />
    <strong class="text-primary-400">{age} años</strong>
  </p>
  <slot />
</div>
