<section class="mt-10 p-20 relative bg-no-repeat bg-center bg-cover bg-fixed">
  <div class="page grid grid-cols-2">
    <div>
      <h2 class="text-4xl font-bold text-primary-400 mb-4">Capture the flag</h2>
      <p class="mb-4 max-w-2xl">
        En esta edición contamos con un Capture The Flag de la mano de
        Santander, en el que contaremos con dos niveles de retos enfocados en
        ciberseguridad.
      </p>
      <a
        href="/capture-the-flag/"
        title="Capture The Flag"
        class="justify-self-start bg-primary-950/75 text-neutral-50 backdrop-blur inline-block relative p-2 m-2 no-underline before:absolute before:w-4 before:h-4 before:-top-1 before:-left-1 before:border-primary-400 before:border-t before:border-l hover:before:-top-[1px] hover:before:-left-[1px] after:absolute after:w-4 after:h-4 after:-bottom-1 after:-right-1 after:border-primary-400 after:border-b after:border-r hover:after:-bottom-[1px] hover:after:-right-[1px]"
        >Acceder al Capture The Flag</a
      >
    </div>
  </div>
</section>

<style>
  section {
    background-image: url("ctf-background.webp");
  }
  
  a::before,
  a::after {
    transition: all 0.3s ease-in-out;
  }

  a:hover:before,
  a:hover::after {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
  }
</style>
