<div class="page text-neutral-50 relative py-4 flex justify-end gap-4 text-sm">
    <a href="https://immune.institute/aviso-legal/" target="_blank">Aviso legal</a>
    <a href="https://immune.institute/politica-de-privacidad/" target="_blank">Política de Privacidad</a>
    <a href="https://immune.institute/politica-de-cookies/" target="_blank">Política de Cookies</a>
</div>