---
import Badge from "./Badge.astro";
import Countdown from "./Countdown.astro";
import Form from "./Form.astro";
import CalendarEvent from "./icons/CalendarEvent.astro";
import Clock from "./icons/Clock.astro";
import Immune from "./icons/Immune.astro";
import LogoWhite from "./icons/LogoWhite.astro";
import MapPin from "./icons/MapPin.astro";

interface Props {
  edition: string;
  date: string;
}

const { edition, date } = Astro.props;
---

<main
  class="text-neutral-50 grid place-items-center py-20 md:pt-40 md:pb-20"
>
  <div class="page cols">
    <div>
      <span class="block mb-4">
        <Immune />
      </span>
      <LogoWhite />
      <h1 class="font-bold text-2xl my-4">
        {edition} EDICIÓN <br />ENCUENTRO DE TALENTO TECNOLÓGICO
      </h1>
      <Badge text={date}>
        <CalendarEvent />
      </Badge>
      <Badge text="Mañana y tarde">
        <Clock />
      </Badge>
      <Badge text="Híbrido*">
        <MapPin />
      </Badge>
      <Countdown />
      <small>*Presencial (Castellana 89, 28046 Madrid) / Online</small>
    </div>
    <Form id="b7bfe983-7d9e-438e-ab6b-21ea3afd616c" />
  </div>
</main>
