<div class="bg-neutral-50/50 glass inline-flex items-center gap-4 py-1 px-2 fixed top-4 left-1/2 -translate-x-1/2 z-50">
  <a href="#ponentes" class="no-underline">Ponentes</a>
  <a href="#agenda" class="no-underline">Agenda</a>
  <a href="#" class="no-underline">Apúntate</a>
</div>
