<div class="glass inline-flex items-center gap-4 py-1 px-2 fixed top-4 left-1/2 -translate-x-1/2 z-50 mix-blend-difference">
  <a href="#ponentes" class="text-neutral-50 no-underline">Ponentes</a>
  <a href="#agenda" class="text-neutral-50 no-underline">Agenda</a>
  <a href="#" class="text-neutral-50 no-underline">Apúntate</a>
</div>
