---
interface Props {
    cols?: boolean;
    id?: string;
}

const { cols, id } = Astro.props;
const sectionClass =
    "bg-neutral-50 py-20 border-t border-t-primary-400";
---

{
    cols ? (
        <section id={id} class={sectionClass}>
            <div class="page cols">
                <slot />
            </div>
        </section>
    ) : (
        <section id={id} class={sectionClass}>
            <div class="page">
                <slot />
            </div>
        </section>
    )
}
